@import "../styles/variables";

@mixin flex($direction, $justification, $alignment, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
  align-items: $alignment;
  flex-wrap: $wrap;
}

@mixin media-mobile {
  @media only screen and (max-width: $mobile-max-width) {
    @content();
  }
}
