@import "../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  background-color: $white;
  font-family: "Noto Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

h3,
h1 {
  color: $dark-blue;
}
