<div class="main-container" *ngIf="team$ | async as team">
    <app-title>{{ team.title }}</app-title>
    <div class="team-member-container">
        <app-team-member-container *ngFor="let teamMember of team?.teamMembers" [teamMember]="teamMember">
        </app-team-member-container>
    </div>
</div>