@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.content-container {
  padding: 10px 15px 0 10px;
  @include media-mobile {
    padding-bottom: 15px;
  }
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  @include media-mobile {
    width: 200px;
    height: 200px;
  }
}

.info-container {
  padding: 20px 0 0 20px;
  @include media-mobile {
    padding: 5px 0 5px 0;
  }
}

.text {
  color: $grey;
  &-padded {
    padding-top: 5px;
  }
}

.text-email {
  padding-top: 20px;
  color: $blue;
  font-size: 0.9rem;
  @include media-mobile {
    padding-top: 10px;
  }
}
