<div class="content-container">
    <img class="image" [src]="teamMember?.imageUrl">
    <div class="info-container">
        <h3>{{ teamMember?.name }}</h3>
        <p class="text text-padded">{{ teamMember?.position }}</p>
        <p class="text-email">{{ teamMember?.email }}</p>
        <p class="text text-padded">{{ teamMember?.phoneNumber }}</p>
    </div>

</div>